mixin name(content)
    section.name-block.wrapper__name-block.anim-block
        .name-block__row 
            .name-block__letter 
                .name-block__person
                    img(src=content.nameBlock.images[0].src, alt=content.nameBlock.images[0].alt)
                .name-block__person
                    img(src=content.nameBlock.images[1].src, alt=content.nameBlock.images[1].alt)
            .name-block__letter 
                .name-block__person
                    img(src=content.nameBlock.images[2].src, alt=content.nameBlock.images[2].alt)
            .name-block__letter 
                .name-block__person
                    img(src=content.nameBlock.images[3].src, alt=content.nameBlock.images[3].alt)
            .name-block__letter    
                .name-block__person
                    img(src=content.nameBlock.images[4].src, alt=content.nameBlock.images[4].alt)
        .name-block__column 
            .name-block__letter 
                .name-block__person
                    img(src=content.nameBlock.images[0].src, alt=content.nameBlock.images[0].alt)
                img(src=content.nameBlock.images[5].src, alt=content.nameBlock.images[5].alt)
                .name-block__person
                    img(src=content.nameBlock.images[1].src, alt=content.nameBlock.images[1].alt)
            .name-block__letter 
                .name-block__person
                    img(src=content.nameBlock.images[2].src, alt=content.nameBlock.images[2].alt)
                img(src=content.nameBlock.images[6].src, alt=content.nameBlock.images[6].alt)
            .name-block__letter 
                .name-block__person
                    img(src=content.nameBlock.images[3].src, alt=content.nameBlock.images[3].alt)
                img(src=content.nameBlock.images[7].src, alt=content.nameBlock.images[7].alt)
            .name-block__letter 
                .name-block__person
                    img(src=content.nameBlock.images[4].src, alt=content.nameBlock.images[4].alt)
                img(src=content.nameBlock.images[8].src, alt=content.nameBlock.images[8].alt)