section.name-block.wrapper__name-block 
    .name-block__row 
        .name-block__letter 
            .name-block__person
                img(src=nameImg[0], alt="")
            .name-block__person
                img(src=nameImg[1], alt="")
        .name-block__letter 
            .name-block__person
                img(src=nameImg[2], alt="")
        .name-block__letter 
            .name-block__person
                img(src=nameImg[3], alt="")
        .name-block__letter    
            .name-block__person
                img(src=nameImg[4], alt="")
    .name-block__column 
        .name-block__letter 
            .name-block__person
                img(src=nameImg[0], alt="")
                img(src=nameImg[5], alt="")
            .name-block__person
                img(src=nameImg[1], alt="")
        .name-block__letter 
            .name-block__person
                img(src=nameImg[2], alt="")
                img(src=nameImg[6], alt="")
        .name-block__letter 
            .name-block__person
                img(src=nameImg[3], alt="")
                img(src=nameImg[7], alt="")
        .name-block__letter 
            .name-block__person
                img(src=nameImg[4], alt="")
                img(src=nameImg[8], alt="")